*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dashBoardMaxWidth:1400px;
}

#dashboard-page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#dashboard-page-container>main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color:rgb(230, 229, 229);
}

#dashboard-inner-container{
    width: 95%;
    max-width: var(--dashBoardMaxWidth);
    flex: 1;
    margin: 1rem 0; /* larger viewports margin top and bottom 4rem? */
    /* border: 2px solid red; */
    border-radius: 12px;
    /* box-shadow: 0 8px 70px 20px rgba(0,0,0,0.3); */
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-rows: auto 1fr;
    position: relative;
    gap: 10px 0;
    background-color: rgb(230, 229, 229);
}

#spinner-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-inner-container>#side-bar-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

#dashboard-inner-container>#home-dashboard-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0rem 0 0 0;
    position: relative;
}

#home-action-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #fff;
}

#home-dashboard-container>.dashboard-card>h5{
    margin: 0 0 0.5rem 0;
    /* font-size: 1rem; */
}

#home-action-container>h4{
    text-align: left;
    margin: 0 0 0 0.5rem;
}

#home-action-container>h4::after{
    content: '';
    display: block;
    height: 1px;
    width: 98%;
    background-color: black;
    margin: 0 auto;
}

#home-action-btn-container{
    margin: 2rem 0 0 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions:first-child{
    margin: 0 0 1rem 0;
}   

#view-account-btn::before{
    content: url('../../assets/eye.svg');
    margin: 0 1rem 0 0;
    vertical-align: middle;
    text-align: center;
}

#create-account-btn::before{
    content: url('../../assets/pagination-right.svg');
    vertical-align: middle;
    margin: 0 1rem 0 0;
}

.actions{
    /* color: #0a8a37; */
}

#dashboard-inner-container>#home-dashboard-container{
    background-color: rgb(230, 229, 229);
}

#dashboard-inner-container>#home-dashboard-container>.dashboard-card{
    background-color: #fff;
    padding: 1.5rem 0.5rem;
}

#dashboard-inner-container>#side-bar-container{
    background-color: #fff;
}

#dashboard-inner-container>#accounts-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


@media screen and (min-width:850px){
    #dashboard-inner-container{
        grid-template-columns: 300px 1fr;
        gap: 0 20px;
    }

    #dashboard-inner-container>#side-bar-container{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.5rem;
    }

    #side-bar-container>#side-bar-links{
        flex: 1;
        display: block;
        margin: 1rem 0 0 0;
        width: 100%;
        padding: 0;
    }

    #side-bar-links{
        text-align: left;
    }

    #side-bar-links>h4{
        margin: 1rem 0 0 0.5rem;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    #side-bar-links>h4:hover{
        background-color:#e8f5e8;
        transition: 1s;
        color: rgb(75, 185, 75);
    }

    #dashboard-inner-container>#home-dashboard-container{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    #home-action-btn-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .actions:first-child{
        margin: 0;
    }
    
    #dashboard-inner-container>#accounts-container{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}