*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#not-found-page-container{
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#not-found-page-container>h2{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#not-found-page-container>a{
    color: #fff;
    position: absolute;
    top: 0;
    left: 5px;
}